@using ClassModels;
@using Microsoft.EntityFrameworkCore;
<EditForm Model="@user" class="w-[calc(100%_-_40px)] flex flex-col items-center mt-7 max-w-[400px]"
  OnValidSubmit="@AddUserOnSubmit">

  <div class="flex flex-col w-full gap-2 mb-2 sm:mb-6">
    <div class="flex justify-between items-center">
      <label htmlFor="email" class="xs:text-[18px] sm:text-[20px]">
        Email
      </label>

    </div>
    <InputText @bind-Value="@user.Email" id="email" 
      class="drop-shadow-2xl text-[16px] sm:text-[18px] px-2 py-2 rounded-[4px]" placeholder="abc@gmail.com" />
  </div>

  <div class="flex flex-col gap-2 w-full mb-2 sm:mb-6">
    <div class="flex justify-between items-center">
      <label htmlFor="password" class="xs:text-[18px] sm:text-[20px]">
        Password
      </label>

    </div>
    <InputText @bind-Value="@user.Password" type="password" id="password"
      class="drop-shadow-2xl text-[16px]  sm:text-[18px] px-2 py-2 rounded-[4px]" placeholder="********" />
  </div>
  <div class="flex flex-col gap-2 w-full">
    <div class="flex justify-between items-center">
      <label htmlFor="confirmPassword" class="xs:text-[18px] sm:text-[20px]">
        Confirm Password
      </label>

    </div>
    <InputText @bind-Value="@user.Password" type="password" id="confirmPassword"
      class="drop-shadow-2xl text-[16px]  sm:text-[18px] px-2 py-2 rounded-[4px]" placeholder="********" />
  </div>

  <button type="submit"
    class="w-full xl:text-lg  min-w-[200px] bg-[#2b3990] font-semibold text-white rounded-full text-[16px] sm:text-[17px] py-2 sm:py-3 mt-7 justify-center flex mx-auto sm:mt-9 hover:bg-transparent hover:text-[#2b3990] hover:border-2 hover:border-[#2b3990] hover:shadow-md hover:-translate-y-1 hover:translate-x-[2px] transition-transform active:translate-y-1 active:-translate-x-[2px]">
    Sign Up
  </button>
</EditForm>

@code {
  public User user = new User();

  public void AddUserOnSubmit()
  {

    @* var context = new AppDbContext(new DbContextOptions<AppDbContext>());

    context.Users.Add(user);

    context.SaveChanges();

    user = new User(); *@
  }

}